RewriteEngine On
RewriteRule ^(includes|assets)($|/) - [L]
RewriteCond %{REQUEST_URI} !details\.php$ [NC]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#ErrorDocument 404 includes/error.html?404

DirectoryIndex home.php
Options -Indexes
